/* Estilo geral do formulário */
form {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  /* Estilo do cabeçalho */
  h1 {
    text-align: center;
    color: #333;
  }
  
  /* Estilo dos rótulos */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Estilo das entradas de texto */
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Estilo dos botões */
  input[type="submit"],
  input[type="reset"] {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="reset"] {
    background-color: #dc3545;
  }
  
  /* Estilo dos botões ao passar o mouse */
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #0069d9;
  }
  
  /* Estilo das caixas de seleção e botões de opção */
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 5px;
  }
  
  /* Estilo do bloco de texto */
  textarea {
    resize: none;
  }